
html{
    height: 100%;
}



body{
    background-image: linear-gradient(green,yellow);
    font-family: "Roboto"  ,sans-serif;
    color: rgb(253, 254, 255);
    /* 16px * 1.5=24px */
    font-size: 1.5rem;
}

.poppins{
    font-family: 'Poppins', sans-serif;
    /* 24px*0.5=12px */
    font-size: 0.5em;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
}

.baloo{
    font-family: 'Baloo Chettan 2', cursive;
    /* font-size: 40px; */
}

.Merriweather{

    font-family: 'Merriweather', serif;
    line-height: 1.75rem;
    color: rgb(255, 255, 255);
}

.container{
    width:1024px ;
    min-height:300px;
    /* background-color: darkred; */
    margin-left: auto;
    margin-right: auto;
}

header{
    /* background-color:green; */
    min-height:100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px;
    padding-bottom:20px;

}

.logo img{
    
    width:75px;
}



main{
    /* background-color:rgb(173, 219, 230); */
    min-height:300px;
    display:flex;
    align-items: center;
}

.hero-box1{
    margin-top: 20px;
    padding-right: 100px;
    /* background-color: blueviolet;
    width:50%; */

    flex:2;
}

.hero-box2{
    /* background-color: cyan;
    width:50%; */
    flex:1;
    
}
.Book_Online {
    color: rgb(255, 140, 0);   
}





h1{
    font-family: 'Playfair Display', serif;
    font-size: 3.25rem;
    margin-bottom: 1rem;
}


.cards{
/* background-color: rgb(229, 255, 0); */
/* min-height:300px; */
display: flex;
justify-content: space-between;
text-align: center;
}

.card1{
    background-image: url("../images/card45.png");
  
    background-size: cover;
    min-height:250px;
    width:30%;
}

h2{
font-family: 'Playfair Display', serif;
font-size: 2rem;
}

p{
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

.cards p {
    font-size: 0.85rem;
    line-height: 1.2rem;
    /* text-align: center; */
    margin: 10px 30px 20px 30px ;
}

.card2{
    background-image: url("../images/card5.jpg");
    background-position: bottom ;
    background-color: chocolate;
    min-height:300px;
    width:30%;
}

.card3{
    background-image: url("../images/bicicles2.0 .png");
    background-color:rgb(0, 0, 0);
    min-height:300px;
    width:30%;

}

.cards i {
    padding-top: 30px;
   font-size: 100px; 
   color: rgb(253, 152, 0);
}

.cards a{
color: floralwhite;
text-decoration:0;
}